{% extends "admin/index.html" %}

{% block extrahead %}
{% load staticfiles %}

<!--CSS-->


<!-- timepicker-->
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/main.css' %}">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-resource.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-route.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.js"></script>

<script src="{% static 'js/timepickerpop.js' %}" type="text/javascript"></script>

<script type="text/javascript">
    angular.module('timepickerDemo', [ 'timepickerPop' ]).controller('DemoCtrl', function($scope) {
          $scope.initialTime = new Date();
          $scope.finalTime = new Date();
          $scope.showMeridian = false;
    });
</script>

<!--JS-->
<script src="{% static 'js/Chart.min.js' %}" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
<script src="{% static 'js/legends.js' %}" type="text/javascript"></script>
<script type="text/javascript">

function printCharts(value) {
    $('#myChart').html('<canvas id="myChart" width="500" height="300"></canvas>');
    $('#luminosityChart').html('<canvas id="luminosityChart" width="500" height="300"></canvas>');

    temperature_values = null;
    humidity_values = null;
    luminosity_values = null;
    chart_labels = null;

    $.get("/dashboard_data/", function(data, status){
        console.log(data);
        chart_labels = data.chart_labels;
        temperature_values = data.temperature_values;
        humidity_values = data.humidity_values;
        luminosity_values = data.luminosity_values;

        console.log(temperature_values);
        console.log(humidity_values);
        console.log(luminosity_values);
        console.log(chart_labels);
        
        
        var chartoptions =
        {
            customTooltips: function ( tooltip )
            {
                var tooltipEl = $( "#chartjs-tooltip" );
                if ( !tooltip )
                {
                    tooltipEl.css( {
                        opacity: 0
                    } );
                    return;
                }

                tooltipEl.removeClass( 'above below' );
                tooltipEl.addClass( tooltip.yAlign );

                // split out the label and value and make your own tooltip here
                var parts = tooltip.text.split( ":" );
                var innerHtml = '<span>' + parts[0].trim() + '</span> : <span><b>' + parts[1].trim() + '</b></span>';
                tooltipEl.html( innerHtml );

                tooltipEl.css( {
                    opacity: 1,
                    left: tooltip.chart.canvas.offsetLeft + tooltip.x + 'px',
                    top: tooltip.chart.canvas.offsetTop + tooltip.y + 'px',
                    fontFamily: tooltip.fontFamily,
                    fontSize: tooltip.fontSize,
                    fontStyle: tooltip.fontStyle
                } );
            }
        }

        var data = {
            labels: chart_labels,
            // labels: {{ chart_labels | safe }},
            datasets: [
                {
                    label: "Temperatura",
                    fillColor: "rgba(255,0,0,0.2)",
                    strokeColor: "rgba(255,0,0,1)",
                    pointColor: "rgba(255,0,0,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(255,0,0,1)",
                    data: temperature_values
                    // data: {{ temperature_values | safe  }}
                },
                {
                    label: "Umidade",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                    data: humidity_values
                    // data: {{ humidity_values | safe  }}
                }
            ]
        };

        var dataLuminosidade = {
            labels: {{ chart_labels | safe }},
            datasets: [
                {
                    label: "Luminosidade",
                    fillColor: "rgba(255,128,0,0.2)",
                    strokeColor: "rgba(255,128,0,1)",
                    pointColor: "rgba(255,128,0,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(255,128,0,1)",
                    data: luminosity_values
                    // data: {{ luminosity_values | safe  }}
                }
            ]
        };

        var dataAll = {
            labels: chart_labels,
            // labels: {{ chart_labels | safe }},
            datasets: [
                {
                    label: "Temperatura",
                    fillColor: "rgba(255,0,0,0.2)",
                    strokeColor: "rgba(255,0,0,1)",
                    pointColor: "rgba(255,0,0,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(255,0,0,1)",
                    data: temperature_values
                    // data: {{ temperature_values | safe  }}
                },
                {
                    label: "Umidade",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                    data: humidity_values
                    // data: {{ humidity_values | safe  }}
                }, 
                {
                    label: "Luminosidade",
                    fillColor: "rgba(255,128,0,0.2)",
                    strokeColor: "rgba(255,128,0,1)",
                    pointColor: "rgba(255,128,0,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(255,128,0,1)",
                    data: luminosity_values
                    // data: {{ luminosity_values | safe  }}
                }
            ]
        };
        var ctx = document.getElementById("myChart").getContext("2d");
        var myLineChart = new Chart(ctx).Line(data);

        ctx = document.getElementById("luminosityChart").getContext("2d");
        myLineChart = new Chart(ctx).Line(dataLuminosidade);

        ctx = document.getElementById("ChartAll").getContext("2d");
        myLineChart = new Chart(ctx).Line(dataAll);        
        
        legend(document.getElementById('legendDiv'), data); 
        legend(document.getElementById('legendDiv2'), dataLuminosidade);
        legend(document.getElementById('legendDivAll'), dataAll);
        document.getElementById('initialDate').valueAsDate = new Date();
        document.getElementById('finalDate').valueAsDate = new Date();

        setTimeout (function() { printCharts(value - 1); }, 10000);
    });
}

$( document ).ready(function() {
    setTimeout(function(){
        printCharts(1000)
    }, 1000);
});
</script>
{% endblock %}

{% block content %}
<h1>Dashboard</h1>
<div class="divleft"> 
    <h2>Temperatura e Umidade</h2>
    <canvas id="myChart" width="500" height="300"></canvas>
    <div id="chartjs-tooltip"></div>  
    <div id="legendDiv"></div>
    <h2>Luminosidade</h2>
    <canvas id="luminosityChart" width="500" height="300"></canvas>
    <div id="legendDiv2"></div>
    <h2>Crossover</h2>
    <canvas id="ChartAll" width="500" height="300"></canvas>
    <div id="legendDivAll"></div>
</div>
<div class="clear"></div>
<div class="divright divForm">
    <div ng-app="timepickerDemo" ng-controller='DemoCtrl'>
        <table border="0">
            <tr>
                <td>
                    <h4>Data inicial</h4>
                    <input type="date" name="initialDate" id="initialDate"/><br/>
                </td>
                <td>
                    <div class='col-md-6 col-md-offset-3'>
                      <h4>Hora inicial</h4>
                      <timepicker-pop input-time="initialTime" class="input-group"
                        show-meridian='showMeridian'>
                      </timepicker-pop>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Data final</h4>
                    <input type="date" name="finalDate" id="finalDate"/><br/>
                </td>
                <td>
                    <div class='col-md-6 col-md-offset-3'>
                      <h4>Hora final</h4>
                      <timepicker-pop input-time="finalTime" class="input-group"
                        show-meridian='showMeridian'>
                      </timepicker-pop>
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="divright" style="margin-right: -28px; margin-top: 15px;">
                    <button type="button" class="btn btn-primary">Filtrar</button>
                </td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}



